
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog

#Debug
Debug\

OpenGLScratchApp/Debug/
.vs/OpenGLScratchApp/FileContentIndex/
.vs/OpenGLScratchApp/v15/
.vs/OpenGLScratchApp/v16/
.vs/OpenGLScratchApp/v17/
*.pdb
OpenGLScratchApp/Debug/vc142.idb
*.idb
