
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.tlog

#Debug
Debug\

OpenGLScratchApp/Debug/OpenGLScratchApp.log
.vs/OpenGLScratchApp/FileContentIndex/ea1fb5fc-34aa-4446-bbfb-2cf199ecab0b.vsidx
.vs/OpenGLScratchApp/FileContentIndex/read.lock
.vs/OpenGLScratchApp/v15/.suo
.vs/OpenGLScratchApp/v15/Browse.VC.db
.vs/OpenGLScratchApp/v16/.suo
.vs/OpenGLScratchApp/v16/Browse.VC.db
.vs/OpenGLScratchApp/v16/Browse.VC.db-shm
.vs/OpenGLScratchApp/v16/Browse.VC.db-wal
.vs/OpenGLScratchApp/v16/Browse.VC.opendb
